<a href="https://colab.research.google.com/github/Alfina05/Alfina-Damayanti/blob/main/Praktek_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nama = "Alfina Damayanti"
nim = 2018102008

print("nama =",nama, "\n","nim =", nim)

nama = Alfina Damayanti
 nim = 2018102008

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [22]:
import pandas as pd
path='/content/sample_data/spotifychart_berharap-tak-berpisah.csv'
dataset=pd.read_csv(path)
dataset

    Unnamed: 0  Position             Track Name  Streams        date
0          121       121  Berharap Tak Berpisah   211997  2019-07-05
1           74        74  Berharap Tak Berpisah   286733  2019-07-12
2           95        95  Berharap Tak Berpisah   245177  2019-07-19
3          107       107  Berharap Tak Berpisah   233958  2019-07-26
4          112       112  Berharap Tak Berpisah   240201  2019-08-02
5          121       121  Berharap Tak Berpisah   223541  2019-08-09
6          128       128  Berharap Tak Berpisah   216446  2019-08-16
7          102       102  Berharap Tak Berpisah   247188  2019-08-23
8          102       102  Berharap Tak Berpisah   254747  2019-08-30
9          104       104  Berharap Tak Berpisah   270577  2019-09-06
10         101       101  Berharap Tak Berpisah   282725  2019-09-13
11         103       103  Berharap Tak Berpisah   273114  2019-09-20
12         112       112  Berharap Tak Berpisah   256458  2019-09-27
13         111       111  Berharap Tak Berpisah   275831  2019-10-04
14         106       106  Berharap Tak Berpisah   279645  2019-10-11
15          70        70  Berharap Tak Berpisah   356530  2019-10-18
16          35        35  Berharap Tak Berpisah   586841  2019-10-25
17          37        37  Berharap Tak Berpisah   595077  2019-11-01
18          40        40  Berharap Tak Berpisah   560468  2019-11-08
19          46        46  Berharap Tak Berpisah   521425  2019-11-15
20          52        52  Berharap Tak Berpisah   501505  2019-11-22
21          50        50  Berharap Tak Berpisah   510937  2019-11-29
22          56        56  Berharap Tak Berpisah   471882  2019-12-06

In [23]:
dataset.head()

   Unnamed: 0  Position             Track Name  Streams        date
0         121       121  Berharap Tak Berpisah   211997  2019-07-05
1          74        74  Berharap Tak Berpisah   286733  2019-07-12
2          95        95  Berharap Tak Berpisah   245177  2019-07-19
3         107       107  Berharap Tak Berpisah   233958  2019-07-26
4         112       112  Berharap Tak Berpisah   240201  2019-08-02

In [24]:
dataset.shape

(23, 5)

In [25]:
dataset.isnull().sum()

Unnamed: 0    0
Position      0
Track Name    0
Streams       0
date          0
dtype: int64

In [26]:
dataset.max()

Unnamed: 0                      128
Position                        128
Track Name    Berharap Tak Berpisah
Streams                      595077
date                     2019-12-06
dtype: object

In [27]:
dataset.min()

Unnamed: 0                       35
Position                         35
Track Name    Berharap Tak Berpisah
Streams                      211997
date                     2019-07-05
dtype: object

In [28]:
dataset.describe()

       Unnamed: 0    Position        Streams
count   23.000000   23.000000      23.000000
mean    86.304348   86.304348  343608.826087
std     30.844824   30.844824  135114.075528
min     35.000000   35.000000  211997.000000
25%     54.000000   54.000000  246182.500000
50%    102.000000  102.000000  275831.000000
75%    109.000000  109.000000  486693.500000
max    128.000000  128.000000  595077.000000

In [33]:
data=dataset.dropna()

In [34]:
data.shape

(23, 5)

In [ ]:
dataset.dropna(axis=0,subset=['position','streams'],inplace=true)

In [36]:
dataset.shape

(23, 5)

In [37]:
#Memilih target prediksi(prediction target)
y=data['Position']
y

0     121
1      74
2      95
3     107
4     112
5     121
6     128
7     102
8     102
9     104
10    101
11    103
12    112
13    111
14    106
15     70
16     35
17     37
18     40
19     46
20     52
21     50
22     56
Name: Position, dtype: int64

In [42]:
#Memilih Fitur (Feature selection)
Fitur=['streams','position']
x=data[Fitur]
x

KeyError: ignored